* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-color: #eee;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  padding: 3em 0 1.4em 0;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0 0 25px 0;
}

p, td {
  margin: 10px 0;
  line-height: 1.5;
}

em {
  font-weight: bold;
}

ul {
  margin: 1em 0 2em 1em;
}

#my-name, #main-nav-list {
  display: inline-block;
}

.main-nav {
  padding: 18px 40px 22px;
  background-color: #111;
}

.main-nav a {
  text-decoration: none;
}

.main-nav li {
  display: inline-block;
  padding: 0 12px;
}

#my-name {
  width: 45%;
}

#main-nav-list {
  float: right;
}

.main-nav h1 {
  font-size: 1.25em;
  padding: 10px 12px;
  color: #fff;
}

.main-nav ul li {
  display: inline-block;
  color: #fff;
  transition: color 0.4s ease;
}

.main-nav ul li:hover, nav p:hover {
  color: #666;
}

.footer-bar {
  height: 0.7em;
  background-color: goldenrod;
}

/* ---------------------------------------------------------- */
/* Main section */
/* ---------------------------------------------------------- */

main {
  margin: 0 0 5em 0;
}

#projects-wrapper {
  display: flex;
  width: 100em;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 3em 3%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.project-image, .project-text {
  width: 50%;
  padding: 40px 4%;
}

#project-101-text {
    order: 102;
  }
  
#project-101-image {
  order: 101;
}

#project-201-text {
  order: 201;
}

#project-201-image {
  order: 202;
}

#project-301-text {
  order: 302;
}

#project-301-image {
  order: 301;
}

#project-401-text {
  order: 401;
}

#project-401-image {
  order: 402;
}

#project-501-text {
  order: 502;
}

#project-501-image {
  order: 501;
}

#project-601-text {
  order: 601;
}

#project-601-image {
  order: 602;
}

.star {
  color: goldenrod;
  padding: 0 15px 0 0;
  line-height: 1.4;
  position: relative;
  bottom: 3px;
}

.small-button {
  display: inline-block;
  color: #fff;
  background-color: goldenrod;
  padding: 10px 35px 10px;
  margin: 0 30px 5px 0;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.small-button:hover {
  background-color: darkgoldenrod;
}

/*********************************************************/
/* TABLES
**********************************************************/

.skills-tables {
  width: 50em;
  margin: 0 auto;
  max-width: 90%;
}

caption {
  display: none;
}

thead th {
  background: darkgoldenrod;
  color: #fff;
}

th {
  font-weight: bold;
}

th, td {
  padding: 1em 3%;
}

tr:nth-child(even) {
  background: palegoldenrod;
}

tr:nth-child(odd) {
  background: #fff;
}

tfoot td {
  color: #888;
  font-size: 13px;
}

.table-center {
  text-align: center;
}

/*********************************************************/
/* ABOUT section
**********************************************************/

.about {
  width: 38em;
  margin: 0 auto;
  max-width: 90%;
}


/* ---------------------------------------------------------- */
/* Media queries */
/* ---------------------------------------------------------- */

@media screen and (max-width: 849px) {
  .main-nav {
  padding: 18px 40px 0 40px;
}
  
  #my-name, #main-nav-list {
    background-color: #111;
    float: none;
    width: 100%;
    text-align: center;
  }
  
  .main-nav ul li {
    padding: 6px 8px 0;
  }
  
  .project-image, .project-text {
    width: 100%;
  }
  
  #project-101-text {
    order: 101;
  }
  
  #project-101-image {
    order: 102;
  }
  
  #project-201-text {
    order: 201;
  }
  
  #project-201-image {
    order: 202;
  }
  
  #project-301-text {
    order: 301;
  }
  
  #project-301-image {
    order: 302;
  }
  
  #project-401-text {
    order: 401;
  }
  
  #project-401-image {
    order: 402;
  }
  
  #project-501-text {
    order: 501;
  }
  
  #project-501-image {
    order: 502;
  }
  
  #project-601-text {
    order: 601;
  }
  
  #project-601-image {
    order: 602;
  }

}

@media screen and (max-width: 479px) {
  .main-nav ul li {
    font-size: 13px;
    padding: 6px 3px 0;
  }
}